[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "ThirdParty/jwt-cpp"]
	path = ThirdParty/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
